.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: flex;
}

a {
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-view {
  margin: 2% 0;
  width: 100%; /* fallback for small screens */
  align-self: center;
  flex: 1;
}

@media screen and (min-width: 1280px) {
  /* adjust the minimum width as needed */
  .main-view {
    margin: 2% 0;
    width: 50%;
  }
}

.Banner {
  /* background-color: rgba(255, 255, 255, 0.04); */
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  /* top: 0px;
  left: 0px; */
  /* display: flex;
  place-content: center;
  align-items: center; */
}

.App-header {
  background-color: #1f1a24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner-button {
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: block;
  position: relative;
  padding: 0.7rem 3rem;
}

.app-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 1em;
}

.app-logo {
  margin: 1em;
}

.image {
  border-radius: 50%;
  width: 15em;
}

.burger-container {
  padding-top: 0.5em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #1f1a24;
  width: 100%;
  box-sizing: border-box;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  display: inline-block;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

.title-container {
  padding-left: 2em;
}

.section-container {
  text-align: center;
}

.card-container {
  /* display: flex;
  flex-direction: row; */
  background-color: #28232d;
  border-radius: 1em;
  margin: 1em 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10em;
}

.research-container {
  background-color: #28232dc0;
  border-radius: 1em;
  margin: 0.5em 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

.research-container:hover {
  background-color: #393241;
}

.research {
  display: flex;
  flex-direction: column;
}

.research-image-container {
  width: 30%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.research-title {
  font-weight: bold;
  font-size: large;
}

.research-text {
}

.research-left-side {
  text-align: left;
  padding-left: 0.3em;
}

.research-right-side {
  margin-left: 1em;
  display: flex;
  gap: 1em;
}

.research-description {
  padding-top: 1em;
  display: none;
}

.research-button {
  display: none;
}

.research-journal {
  padding-top: 1em;
}

@media only screen and (min-width: 768px) {
  .card-container {
    height: 15em;
  }
  .research-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .research-description {
    display: block;
  }
  .research-title {
    font-size: larger;
  }
}

.research-date {
  color: #a9a9a9;
  padding-top: 0.1em;
  text-align: justify;
  text-justify: auto;
}

.skills-container {
  width: fit-content;
  margin: auto;
  block-size: fit-content;
  justify-content: center;
  align-items: center;
  background-color: #28232d;
  border-radius: 5%;
  margin-top: 2em;
  padding: 1em 1em 1em 1em;
}

.skills {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

@media only screen and (min-width: 768px) {
  .skills-container {
    padding: 1em 2em 2em 2em;
  }

  .skills {
    gap: 2em;
  }
}

.skill {
  position: relative;
  display: flex;
  height: 5.5em;
  width: 5.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1a24;
  border-radius: 20%;
}
.skill::before {
  content: "";

  position: absolute;
  inset: 0;
  border-radius: 20%;
  padding: 2px;
  background: linear-gradient(45deg, indigo, cyan);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.footer {
  margin-top: 2em;
}

.bio-paragraph {
  text-align: justify;
  text-justify: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.skill-name {
  font-size: small;
}

.skills-title {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1em;
}

.resume-img {
  object-fit: cover;
}

.resume-img-container {
  background-color: white;
  justify-content: center;
  border-radius: 10%;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  text-align: justify;
}
