.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: flex;
}

a {
  color: #FFF;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-view {
  margin: 5% 5%;
  width: 90%; /* fallback for small screens */
  align-self: center;
  flex:1;
}

@media screen and (min-width: 768px) { /* adjust the minimum width as needed */
  .main-view {
    margin: 5% 5%;
    width: 50%;
  }
}

.Banner {
  /* background-color: rgba(255, 255, 255, 0.04); */
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  /* top: 0px;
  left: 0px; */
  /* display: flex;
  place-content: center;
  align-items: center; */
}

.App-header {
  background-color: #1f1a24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner-button {
  cursor:pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: block;
  position: relative;
  padding: 0.7rem 3rem;
}

.app-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.app-logo {
  margin: 1em;
}

.image {
  border-radius: 50%;
  width: 15em;
}

.burger-container {
  padding-top: 1em;
  padding-left: 1em;
  align-self: flex-start ;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  display: inline-block;
  text-align: left;
}

.title-container {
padding-left: 2em;
}

.section-container {
 text-align: center;
}

.card-container {
  padding: 1em;
  width: 25em;
}

.research {
  display: flex;
  flex: "row";
  flex-wrap: wrap;
}